iframe {
    width: 100%;
    height: 900px;
}

.comments-container {
  padding-top: 20px;
  width: 100%;
  height: 100%;
}

#image-container {
  width: 100%;
  height: 100%;
}
body {
      padding-bottom: 250px;
    }

    .footer {
        position: absolute;
          left: 0;
            bottom: 0;
              width: 100%;
                height: 114px;
              }
